.brand-header {
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url(../img/blog-detal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header-wrapper {
    padding-top: 100px;
    width: 85%;
}
  .header-wrapper {
      padding-top: 100px;
  }
  .header-wrapper p {
      font-family: 'Tai Heritage Pro', serif;
      color: white;
  }
  .header-wrapper .btn {
      border-color: white;
      color: white;
  }
  .header-wrapper h1{
      text-transform: uppercase;
  }
  .header-wrapper h1 {
      text-transform: uppercase;
      font-size: 78px;
      line-height: unset!important;
      margin: 0 !important;
  }
  .firmly-imgbox img {
    width: 100%;
}